# BEGIN CONFIG - EDIT HERE AS YOU WISH
export BUCKET="BUCKET_NAME"
export AWS_ACCESS_KEY_ID="YOUR_ACCESS_KEY_HERE"
export AWS_SECRET_ACCESS_KEY="YOUR_SECRET_ACCESS_KEY_HERE"
export AWS_DEFAULT_REGION="YOUR_AWS_PREFERED_REGION_HERE"
# END CONFIG
